{% extends 'employees_app/base.html' %}

{% block body %}
    <br><br>
    <h1>M&R Employees App</h1>
    <p class="lead">Sign In to other M&R Systems</p>
    <br>
    <a href="https://traffic.mandrroofing.ca/" target="_blank" class="btn btn-outline-primary">M&R Tickets</a>
    <a href="http://www.maps.mandrroofing.ca/" target="_blank" class="btn btn-outline-primary">M&R Maps</a>

    <a href="https://www.mandrroofing.ca/freeQuote/" target="_blank" class="btn btn-outline-primary">M&R Free Quote</a>
    <a href="http://www.app.mandrroofing.ca/" target="_blank" class="btn btn-outline-primary">M&R Auto-Estimations</a>

    <br><br><br>
    <p class="lead">Weather API <i class="fab fa-mixcloud text-primary"></i></p>
    <a href="https://weather.com/en-CA/weather/today/l/43.65,-79.38" target="_blank" class="btn btn-outline-primary btn-lg">
    Weather for {{ CITY }}:
    <br>
    <img src="http://openweathermap.org/img/w/{{ weather_icon }}.png"/>
    <br>
    {{ weather_type }} - {{ weather_type_desc }}  <br>
    Temp: {{ temp_celc }}<br>
        Wind: {{ wind }} {{ wind_deg }} <br>
    Humidity: {{ humidity }} %
    </a>
{% endblock %}